#Minecraft
Forge/
**/config/
**/crash-reports/
**/logs/
**/mods/
**/resourcepacks/
**/saves/
**/screenshots/
**/world/
**/.project
**/usercache.json
**/usernamecache.json
**/banned-ips.json
**/banned-players.json
**/ops.json
**/options.txt
**/realms_persistence.json
**/server.properties
**/whitelist.json

#Eclipse
.metadata
.loadpath
.recommenders
**/bin/
.settings/

#Gradle
**/.gradle/
**/build/